@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

@import "tailwindcss";


@theme{
    --color-notBlack: #070419;
    --font-header: "Allan", serif;
    --font-subheader: "Tinos", serif;
    --font-text: "Fragment Mono", monospace;
}

.text {
    @apply text-white text-xl/7 lg:text-2xl/8;
}

.card {
    @apply flex flex-col md:flex-row bg-white/3 text-white w-full p-4 border border-gray-700 rounded-xl gap-4
}

html, body {
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}
